html{
    scroll-behavior: smooth;
}
body{
    background-color: 		#778899;
}

.img_topo{
    width: 100%;
}
.img_corpo{
    width: 35%;
    margin-bottom: 1%;
}

.container{
    width: 80%;
    margin: auto;
}

figure{
    text-align: center;
}

h1{
    text-align: center;
}
p{
    font-size: 1.5rem;
    text-align: justify;
    text-indent: 40px;
    padding: 1%;
}
.botao{
    padding-top: 15px;
    text-align: center;
    font-size: 2rem ;
    
}
.parag_letras p{
    font-size: 1rem;
    line-height: 0.5;

}
.fundo_letras{
    background-image: linear-gradient(to bottom right, #112f4d, rgb(255, 255, 255));
    padding: 1%;
}
.menu{
    padding: 2%;
    text-align: center;

}
h1{
    text-align: center;
    font-size: 2em;
}
h2{
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    font-size: 1.8rem;
}
.itens_menu{
    line-height: 1.5;
    text-align: center;
    font-size: 1.5rem;
}
.logo{
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 1.7rem;
}
footer p{
    font-size: 1.5rem;
    text-align: center;
}
.itens_menu a:link{
    color: darkgreen;
    text-decoration: none;
}
.itens_menu a:visited{
    color:rgb(255, 0, 0) ;
    text-decoration: none;
}
.itens_menu a:hover{
    color:mediumturquoise ;
    text-decoration: underline;

}
.itens_menu a:active{
    color:rgb(255, 115, 0) ;
    text-decoration: underline;
}
section a:link{
    color:darkgreen ;
    text-decoration: none;
}
section a:visited{
    text-decoration: none;
    color:rgb(255, 0, 0) ;
}
section a:hover{
    color:mediumturquoise ;
    text-decoration: underline;
}
section a:active{
    color:rgb(255, 115, 0) ;
    text-decoration: underline;
}
.escondido{
    display: none;
}
.grammy{
    float: right;
    width: 28%;
    margin-left: 2%;
}
.wayne{
    float: left;
    width: 25%;
    margin-right: 2%;
}
footer{
    background-color: #414950;
}
.botao_letras{
    width: 150px;
  height: 40px;
  margin: auto; 
  padding: 0.8%;
  text-align: center;  
  padding-top: 3%; 
  font-size: 20rem;
}
.img_logo{
    width: 70%;
}
table{
    border-collapse: collapse;
    width: 100%;
    margin-top: 2%;
  }
  
  td{
    font
  }
  
  td,th{
    border: 5px inset #8B0000;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
  }
  