html{
    scroll-behavior: smooth;
}
body{
    background-color: 		#778899;
}

.img_topo{
    width: 100%;
}
.img_corpo{
    width: 35%;
}

.container{
    width: 80%;
    margin: auto;
}

figure{
    text-align: center;
}

h1{
    text-align: center;
}
p{
    font-size: 1.5rem;
    text-align: justify;
    text-indent: 40px;
}
.botao{
    padding-top: 15px;
    text-align: center;
    font-size: 2rem ;
}
.parag_letras p{
    font-size: 1rem;

}
.fundo_letras{
    background-image: linear-gradient(to bottom right, #112f4d, rgb(255, 255, 255));
}