html{
    scroll-behavior: smooth;
}
body{
    background-color: 		#778899;
}

.img_topo{
    width: 100%;
}
.img_corpo{
    width: 35%;
    margin-bottom: 1%;
}

.container{
    width: 80%;
    margin: auto;
}

figure{
    text-align: center;
}

h1{
    text-align: center;
}
p{
    font-size: 1.5rem;
    text-align: justify;
    text-indent: 40px;
    padding: 1%;
    font-family: 'Kalam', cursive;
}

header{
 top: 0; 
 position: relative;
 right: 0;
 left: 0;  
 background-color: #3c4853;
}
.fixo{
 position: fixed;
}
.banner{
 margin-top: 30%;
}

.botao{
    padding-top: 15px;
    text-align: center;
    font-size: 2rem ;
    font-family: 'Cookie', cursive;
    
}
.parag_letras p{
    font-size: 1rem;
    line-height: 0.5;

}
.fundo_letras{
    background-image: linear-gradient(to bottom right, #112f4d, rgb(255, 255, 255));
    padding: 1%;
}
.menu{
    padding: 2%;
    text-align: center;

}
h1{
    text-align: center;
    font-size: 2em;
    font-family: 'Edu QLD Beginner', cursive;
}
h2{
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    font-size: 1.8rem;
    font-family: 'Edu QLD Beginner', cursive;
}
.logo{
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 1rem;
}
footer p{
    font-size: 1.5rem;
    text-align: center;
}
.itens_menu{
    line-height: 1.5;
    text-align: center;
  }
  
.itens_menu a{
    font-size: 1.2em;
  }
  
.itens_menu a:link, .itens_menu a:visited{ 
      color: #fff;
      text-decoration: none;
    }  
    /* mouse over link */
.itens_menu a:hover {
      color: #fff;
      padding: 0.8%;    
      background-color: rgba(128, 128, 128, 0.3); 
      text-decoration: none;
      border-radius: 15%;
  
    }
    
    /* selected link */
.itens_menu a:active {
      color: #FFF;
      text-decoration: none;
    }
  
section a:link{
    color: #696969;
  }
  
section a:visited {
    color: #FFF; 
  }
  
section a:hover{
    color: #696969;
  }
  
.escondido{
    display: none;
}
.grammy{
    float: right;
    width: 28%;
    margin-left: 2%;
}
.wayne{
    float: left;
    width: 25%;
    margin-right: 2%;
}
footer{
    background-color: #414950;
}
.botao_letras{
    width: 150px;
  height: 40px;
  margin: auto; 
  padding: 0.8%;
  text-align: center;  
  padding-top: 3%; 
  font-size: 20rem;
}
.img_logo{
    width: 40%;
}
table{
    border-collapse: collapse;
    width: 100%;
    margin-top: 2%;
  }
  
td,th{
    border: 2px dotted #8B0000;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    
  }
  
  td:first-child{
    width: 40%;
  }
  
  td:first-child + td{
    width: 60%;
  }
  
  audio::-webkit-media-controls-panel{
    background-color:rgba(2, 30, 83, 0.3) !important;
    }
audio{
    width: 80%;
   }
  
  
  
  /*CSS do contato*/
  .borda_form{
    background-color: rgba(30, 44, 80, 0.3) ;
    padding: 20px;
    border-radius: 25px;
    margin-top: 1%;
    box-sizing: border-box;
    font-family: 'Edu QLD Beginner', cursive;
  }
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-family: 'Edu QLD Beginner', cursive;
  }

  input[type=text], select, textarea, input[type=tel], input[type=email] {
    width: 96%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 15px;
    resize: vertical;
    font-family: 'Edu QLD Beginner', cursive;
  }
 

.col-25{
  width: 25%;
  float: left;
  margin-top: 6px;

}

.col-75{
width: 75%;
float: left;
margin-top: 6px;
}
   .row:after {
    content: "";
    display: table;
    clear: both;
  }
  input[type=submit] {
    background-color: rgb(29, 58, 95);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  .botaoform{
    margin-top: 3%;
  }
  
  
  @media screen and (max-width:450px) {

    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
     
    }
}